* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.App {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  padding: 3rem;
  background-color: rgb(120, 26, 209);
  color: white;
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 3.5rem;
  }
}